# Econet support for BeebEm,
# by Rob O'Donnell. robert@irrelevant.com.
#
# This file translates econet station numbers into IP/port addresses.
# Lines starting # are comments.
#
# Format of data lines is:
# net stn ip port
#
# Lines without exactly four parameters seperated by spaces will be ignored.
#
# When BeebEm starts up it will search for the first free local port number
# listed in this file.  This means that multiple instances of BeebEm can be
# run on a single PC and they will have different station numbers.
#
# It is also possible to specify the station number on the BeebEm command
# line.  BeebEm will look up the port number associated with the station
# in this file.  e.g.
#   BeebEm -ecostn 101
#
# Note that the IP address 127.0.0.1 always refers to the local PC.  If you
# are running BeebEm on two or more PCs change 127.0.0.1 to a real IP
# address.
AUNMODE 1
#
# LEARN mode - adds to list of hosts specified here based on packets received.  
LEARN 1
#
# STRICT AUN mode - Hosts on IP address a.b.c.d must be station d on network c
# Setting this allows the host to guess the address of unknown stations. (w/port 32768)
# Hosts specified in this file always override this, but try not to differ too much
# as you can get a mismatch between what each side of the conversation thinks it's
# station number is! You might also get a clash!
AUNSTRICT 1  
#
# This is a debug option. This affects how BeebEm manages it's Winsock sockets
# internally.  Set to 0 to revert to pre 4.11 operation.  This should not affect
# visible operations or interoperability with other copies of BeebEm, but it
# will probably break AUN mode if you change it back from the now-default of 1.
SINGLESOCKET 1
#
# AUN networks are always 128+  Econet networks are always 1+
# Set this one to add/subtract 128 on translation, so AUN net  130.x will
# appear to the emulated Beeb as 2.x, and vice-versa.
# THIS IS UNTESTED FOR ALL BUT NETWORK 0/128 - Beebs expect Nets > 0 to be
# accessed via a gateway on their local segment.
MASSAGENETS 1
#
# The following affect internal timing within the emulation.  
# Adjusting can easily break things.  Defaults usually work on my laptop (at spd 1.0 fps 20-40.)
# Smptoms of breaking include hanging, No Reply, Line Jammed, and just garbage on *CAT
#
FLAGFILLTIMEOUT 500000     //default is 500000. 100000 works.. YMMV.  saves fail first...
SCACKTIMEOUT 500    // default 50000. 500 works, and is much faster!
TIMEBETWEENBYTES 128    // default 128. cannot seem to get it to work at anything else
FOURWAYTIMEOUT 500000 // default 500000. works best when same as or less than flagfilltimeout! 50000 

#
# Example network configuration.
# Fileserver (station number 254) and 4 stations on the local PC:
0 254 192.168.1.20 32768
0 252 192.168.1.147 10147
0 137 192.168.1.137 10137
# Normal stations 
0 101 192.168.1.158 10101
0 110 192.168.1.133 10133
0 047 192.168.1.143 10047
0 048 192.168.1.133 10048
# Stations:
#0 101 127.0.0.1 10201
#0 102 127.0.0.2 10202
#
#0 145 192.168.1.145 10145
# Example of stations on another PC:
#0 110 192.168.0.10 10110
#0 111 192.168.0.11 10111
